@font-face {
    font-family: "Brown Standard";
    src: url("../assets/_fonts/BrownStd-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Brown Standard";
    src: url("../assets/_fonts/BrownStd-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Domaine Display";
    src: url("../assets/_fonts/DomaineDisp-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Domaine Display";
    src: url("../assets/_fonts/DomaineDispMedium.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Domaine Display";
    src: url("../assets/_fonts/DomaineDispSemibold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Domaine Text";
    src: url("../assets/_fonts/DomaineText-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'icomoon';
    src:    url('../assets/_fonts/icomoon.eot?rm8140');
    src:    url('../assets/_fonts/icomoon.eot?rm8140#iefix') format('embedded-opentype'),
        url('../assets/_fonts/icomoon.ttf?rm8140') format('truetype'),
        url('../assets/_fonts/icomoon.woff?rm8140') format('woff'),
        url('../assets/_fonts/icomoon.svg?rm8140#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
    content: "\e905";
}
.icon-up-arrow:before {
    content: "\e906";
}
.icon-down-arrow:before {
    content: "\e907";
}
.icon-left-arrow:before {
    content: "\e908";
}
.icon-chevron-right:before {
    content: "\e909";
}
.icon-facebook-icon:before {
    content: "\e900";
    color: #DD2222;
}
.icon-instagram-icon:before {
    content: "\e901";
    color: #DD2222;
}
.icon-linkedin-icon:before {
    content: "\e902";
    color: #DD2222;
}
.icon-twitter-icon:before {
    content: "\e903";
    color: #DD2222;
}
.icon-youtube-icon:before {
    content: "\e904";
    color: #DD2222;
}
